.env
/bootstrap/compiled.php

/node_modules
/public/storage
/storage/*.key
/storage/debugbar
/vendor
/temp
/.idea
/.vscode
/.vagrant
/.trae
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.DS_Store
.idea/
/nbproject/private/
/nbproject
.env
